@model MovieMvcDate.Models.Dto.RequestModel.CreateWalletRequestModel

<div class="container">
                <form asp-action="CreditWallet" method="post">
            <div class=" card col-md-6">
                <div class="card-body ">
                    <label > id</label>
                    <input type="Id" name="Id=" id="Id" 
                        placeholder="Id "  />
                </div>
                <div class="card-body ">
                    <label for="CustomerId">CustometId</label>
                    <input type="CustomerId" name="CustomerId=" 
                        placeholder="CustomerId "  />
                </div>
                <div class="form-group parding ">
                    <label for="balance">Amount</label>
                    <input type="balance" name="balance="  placeholder="Fund wallet here" />
                </div>
                <button type="submit">Fund</button>
        </form>
        </div>
    </div>
</div>