
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <span>Check your balance</span>
    <form asp-action="GetBalance" asp-controller= "Wallet">
        <input type="submit" value="GetBalance" class="btn btn-danger" /> 
        <button > <a asp-controller="Wallet" asp-action="GetBalnce">Wallet balance </a></button> 
    </form>
</div>