@* @model MovieMvcDate.Models.Entites.Admin

    <hr />
    <form asp-controller= "Admin" asp-action="DeleteAdmin">
        <input asp-for = "Id" hidden/> 
            <div>
                <label asp-for = "FirstName"></label>
                <input asp-for = "FirstName" disabled class= "form-control"/>
            </div>
            <div>
                <label asp-for = "LastName"></label>
                <input asp-for = "LastName" disabled class= "form-control"/>
            </div>
            <div>
                <label asp-for = "Email"></label>
                <input asp-for = "Email" disabled class= "form-control"/>
            </div>
            <div>
                <label asp-for = "Password"></label>
                <input asp-for = "Password" type="password"  disabled class= "form-control"/>
            </div>
            <div>
                <label asp-for = "PhoneNumber"></label>
                <input asp-for = "PhoneNumber"  disabled class= "form-control"/>
            </div>

             <br><br>
    </div>
              <button asp-controller = "Admin" type="submit" asp-action="DeleteAdmin" asp-route-staffId=@Model.Id><i class="bi bi-trash"></i>Yes</button>&nbsp;
 <a asp-controller="Admin" asp-action="GetAllAdmin"><i class="bi bi-card-checklist"></i>Back to List</a>
    </form> *@

@{
    ViewData["Title"] = "Delete";
}


    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>