
@* @{
    ViewData["Title"] = "Delete";
} *@

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <span>Are You Sure You Want To delete your Account?</span>
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
