@model MovieMvcDate.Models.Dto.RequestModel.CustomerDto

<style>
        .class{
                color: red;
}
</style>

@{
	ViewData["Title"] = "CreateCustomer";
	if (TempData["Success"] != null)
	{
		<h2>@TempData["success"]</h2>
	}
	if (TempData["failed"] != null)
	{
		<h2>@TempData["failed"]</h2>
	}
}

<div class="container">
    <div class="row justify-content-center">
        <div class=" card col-md-6">
            <div class="card-body ">
                <div class="bg-light">
                     <div id = "reg-form">
    @* <form asp-action="CreateCustomer" method="post" asp-controller = "Createcustomer"></form> *@
    @* <form asp-controller="CreateCustomer" method="post"></form> *@
        </div>
                    <p class="tagcolor" style="color:mediumblue">Register Customer:.</p>
                    <hr class="tagcolor" style="color:mediumblue">

                </div class = "col-md-4">
                <form asp-action="CreateCustomer">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="form-group col-sm-5" >
                            <label asp-for="FirstName" class="control-label"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-5">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-5">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        
                        <div class="form-group col-sm-5">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" type="gmail"/>
                            <span asp-validation-for="Email" class="text-danger" type ="gmail"></span>
                        </div>
                        <div class="form-group col-sm-5">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" type="password"/>
                            <span asp-validation-for="Password" class="text-danger" type = "password"></span>
                     </div>
                        <div class="form-group col-sm-5" hidden>
                            <label asp-for="RefNumber" class="control-label"></label>
                            <input asp-for="RefNumber" class="form-control" />
                            <span asp-validation-for="RefNumber" class="text-danger"></span>
                        </div>
                    </div>
                        
                    <div class="form-group ">
                        <input href="#myModal" type="submit" value="Submit" class="btn btn-success trigger-btn col-sm-12" data-toggle="modal" />
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
