@* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    
    @* <span>Are You Sure You Want To delete your Account?</span> *@
   

   @{
    ViewData["Title"] = "Delete";
}
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>