@* 
@{
    ViewData["Title"] = "IndexCustomer";
}

<h1>@ViewData["Title"]</h1>

<div>
    
</div> *@
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .sidebar {
            background-color: #333;
            color: #fff;
            width: 200px;
            height: 100%;
            float: left;
            position: fixed;
        }

        .sidebar ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .sidebar li {
            display: block;
            padding: 10px;
            border-bottom: 1px solid #fff;
        }

        .sidebar a {
            color: #fff;
            text-decoration: none;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #333;
            min-width: 200px;
            z-index: 1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
</head>

<body>
    <div class="sidebar">
        <h3>Attendant</h3>
        <ul>
            <li class="dropdown">
                <a href="#">Customers</a>
                <ul class="dropdown-content">
                    <li><a href="#">Create Customer</a></li>
                    <li><a href="#">Manage Customer</a></li>
                    <li><a href="#">View Customer</a></li>
                </ul>
            </li>
            <!-- other links -->
        </ul>

        <ul>
            <li class="dropdown">
                <a href="#">Admin</a>
                <ul class="dropdown-content">
                    <li><a href="#">Create Customer</a></li>
                    <li><a href="#">Manage Customer</a></li>
                    <li><a href="#">View Customer</a></li>
                </ul>
            </li>a
            <!-- other links -->
        </ul>
    </div>


    

</body>

</html>